<div class="form-inline" action="">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Buscar por tema"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>
<h5>Filtro: {{ filtroLista }}</h5>
<table class="table table-striped">
  <thead class="thead-light">
    <th>
      <button class="btn btn-outline-primary" (click)="alternarImagem()">
        <i class="{{ mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <span *ngIf="mostrarImagem"
          ><img
            *ngIf="evento.imagemURL"
            src="http://localhost:5000/img/{{ evento.imagemURL }}"
            [style.width.px]="imagemLargura"
            [style.margin.px]="imagemMargem"
        /></span>
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DateTimeFormatPipe }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>
        <div *ngIf="!evento.lotes.length">-</div>
        <div *ngIf="evento.lotes.length">
          {{ evento.lotes[0].nome | uppercase }}
        </div>
      </td>
      <td class="btn-group">
        <button
          class="btn btn-sm btn-success"
          tooltip="Editar"
          (click)="openModal(template)"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template>

<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Tema: </label>
      <input
        type="text"
        class="form-control"
        formControlName="tema"
        placeholder="Tema do evento"
        [ngClass]="{
          'is-invalid':
            registerForm.get('tema')!.errors &&
            registerForm.get('tema')!.touched
        }"
      />
      <!-- <div *ngIf="registerForm.get('tema')!.hasError('required') && registerForm.get('tema')!.touched" class="invalid-feedback">
        Tema obrigatório
      </div>
      <div *ngIf="registerForm.get('tema')!.hasError('minLenght') && registerForm.get('tema')!.touched" class="invalid-feedback">
        Mínimo de 4 caracteres
      </div>
      <div *ngIf="registerForm.get('tema')!.hasError('maxLenght') && registerForm.get('tema')!.touched" class="invalid-feedback">
        Máximo de 20 caracteres
      </div> -->
      <div *ngIf="registerForm.get('tema')!.invalid  && registerForm.get('tema')!.errors  && (registerForm.get('tema')!.dirty || registerForm.get('tema')!.touched)">
        <small class="text-danger" *ngIf="registerForm.get('tema')!.hasError('required')">
          Tema obrigatório
        </small>
        <small class="text-danger" *ngIf="registerForm.get('tema')!.hasError('minlength')">
          Mínimo de {{ registerForm.get("tema")!.errors!.minlength.requiredLength }} caracteres
        </small>
        <small class="text-danger" *ngIf="registerForm.get('tema')!.hasError('maxlength')">
          Máximo de {{ registerForm.get("tema")!.errors!.maxlength.requiredLength }} caracteres
        </small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Local: </label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="local"
        placeholder="Local onde ocorrerá o evento"
      />
      <div class="invalid-feedback">Local obrigatório</div>
    </div>
    <div class="form-group col-md-4">
      <label>Data e Hora: </label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="dataEvento"
        placeholder="Data e hora do evento"
      />
      <div class="invalid-feedback">Data e hora obrigatórias</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Quantidade de Pessoas: </label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="qtdPessoas"
        placeholder="Máximo de inscritos no evento"
      />
      <div class="invalid-feedback">Quantidade obrigatória</div>
    </div>
    <div class="form-group col-md-9">
      <label>Imagem: </label>
      <input type="text" class="form-control" formControlName="imagemURL" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Telefone: </label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="telefone"
        placeholder="Telefone para contato"
      />
      <div class="invalid-feedback">Telefone obrigatório</div>
    </div>
    <div class="form-group col-md-8">
      <label>E-mail: </label>
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="email"
        placeholder="E-mail de contato"
      />
      <div class="invalid-feedback">E-mail obrigatório</div>
    </div>
  </div>
</form>
<br />
<button class="btn btn-secondary" (click)="openModal(template)">Fechar</button>
<button class="btn btn-primary" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br />
<br />
