<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label>
      <input
        type="text"
        class="form-control mr-2"
        placeholder="Buscar por tema"
        [(ngModel)]="filtroLista"
      />
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="openModal(template)">
      <i class="fa fa-plus-circle"></i>
      Novo Evento
    </button>
  </div>
</div>
<h5>Filtro: {{ filtroLista }}</h5>
<table class="table table-striped">
  <thead class="thead-light">
    <th>
      <button class="btn btn-outline-primary" (click)="alternarImagem()">
        <i class="{{ mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <span *ngIf="mostrarImagem"
          ><img
            *ngIf="evento.imagemURL"
            src="http://localhost:5000/img/{{ evento.imagemURL }}"
            [style.width.px]="imagemLargura"
            [style.margin.px]="imagemMargem"
          />
        </span>
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DateTimeFormatPipe }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>
        <div *ngIf="!evento.lotes.length">-</div>
        <div *ngIf="evento.lotes.length">
          {{ evento.lotes[0].nome | uppercase }}
        </div>
      </td>
      <td class="btn-group">
        <button
          class="btn btn-sm btn-success"
          tooltip="Editar"
          (click)="editarEvento(template, evento)"
        >
          <i class="fa fa-edit"></i>
        </button>
        &nbsp;
        <button 
          class="btn btn-sm btn-danger" 
          tooltip="Excluir"
          (click)="excluirEvento(evento, confirm)"
        >
          <i class="fa fa-eraser"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div
  bsModal
  #template="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
            Novo/Editar Evento
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="template.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema: </label>
              <input
                type="text"
                class="form-control"
                formControlName="tema"
                placeholder="Tema do evento"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('tema')!.errors &&
                    (registerForm.get('tema')!.dirty ||
                      registerForm.get('tema')!.touched)
                }"
              />
              <div
                *ngIf="
                  registerForm.get('tema')!.invalid &&
                  registerForm.get('tema')!.errors &&
                  (registerForm.get('tema')!.dirty ||
                    registerForm.get('tema')!.touched)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('tema')!.hasError('required')"
                >
                  Tema obrigatório
                </small>
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('tema')!.hasError('minlength')"
                >
                  Mínimo de
                  {{
                    registerForm.get("tema")!.errors!.minlength.requiredLength
                  }}
                  caracteres
                </small>
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('tema')!.hasError('maxlength')"
                >
                  Máximo de
                  {{
                    registerForm.get("tema")!.errors!.maxlength.requiredLength
                  }}
                  caracteres
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local: </label>
              <input
                type="text"
                class="form-control"
                formControlName="local"
                placeholder="Local onde ocorrerá o evento"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('local')!.errors &&
                    (registerForm.get('local')!.dirty ||
                      registerForm.get('local')!.touched)
                }"
              />
              <div
                *ngIf="
                  registerForm.get('local')!.invalid &&
                  registerForm.get('local')!.errors &&
                  (registerForm.get('local')!.dirty ||
                    registerForm.get('local')!.touched)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('local')!.hasError('required')"
                >
                  Local obrigatório
                </small>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora: </label>
              <input
                type="text"
                class="form-control"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY HH:mm' }"
                formControlName="dataEvento"
                placeholder="Data e hora do evento"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('dataEvento')!.errors &&
                    (registerForm.get('dataEvento')!.dirty ||
                      registerForm.get('dataEvento')!.touched)
                }"
              />
              <div
                *ngIf="
                  registerForm.get('dataEvento')!.invalid &&
                  registerForm.get('dataEvento')!.errors &&
                  (registerForm.get('dataEvento')!.dirty ||
                    registerForm.get('dataEvento')!.touched)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('dataEvento')!.hasError('required')"
                >
                  Data e hora obrigatórias
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Quantidade de Pessoas: </label>
              <input
                type="text"
                class="form-control"
                formControlName="qtdPessoas"
                placeholder="Máximo de inscritos"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('qtdPessoas')!.errors &&
                    (registerForm.get('qtdPessoas')!.dirty ||
                      registerForm.get('qtdPessoas')!.touched)
                }"
              />
              <div
                *ngIf="
                  registerForm.get('qtdPessoas')!.invalid &&
                  registerForm.get('qtdPessoas')!.errors &&
                  (registerForm.get('qtdPessoas')!.dirty ||
                    registerForm.get('qtdPessoas')!.touched)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('qtdPessoas')!.hasError('required')"
                >
                  A Quantidade de Pessoas é obrigatória
                </small>
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('qtdPessoas')!.hasError('max')"
                >
                  Número máximo de participantes excedido
                </small>
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem: </label>
              <input
                type="text"
                class="form-control"
                formControlName="imagemURL"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('imagemURL')!.errors &&
                    (registerForm.get('imagemURL')!.dirty ||
                      registerForm.get('imagemURL')!.touched)
                }"
              />
              <div
                *ngIf="
                  registerForm.get('imagemURL')!.invalid &&
                  registerForm.get('imagemURL')!.errors &&
                  (registerForm.get('imagemURL')!.dirty ||
                    registerForm.get('imagemURL')!.touched)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('imagemURL')!.hasError('required')"
                >
                  Imagem obrigatória
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone: </label>
              <input
                type="text"
                class="form-control"
                formControlName="telefone"
                placeholder="Telefone para contato"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('telefone')!.errors &&
                    (registerForm.get('telefone')!.dirty ||
                      registerForm.get('telefone')!.touched)
                }"
              />
              <div
                *ngIf="
                  registerForm.get('telefone')!.invalid &&
                  registerForm.get('telefone')!.errors &&
                  (registerForm.get('telefone')!.dirty ||
                    registerForm.get('telefone')!.touched)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('telefone')!.hasError('required')"
                >
                  Telefone obrigatório
                </small>
              </div>
            </div>
            <div class="form-group col-md-8">
              <label>E-mail: </label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="E-mail de contato"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('email')!.errors &&
                    (registerForm.get('email')!.dirty ||
                      registerForm.get('email')!.touched)
                }"
              />
              <div
                *ngIf="
                  registerForm.get('email')!.invalid &&
                  registerForm.get('email')!.errors &&
                  (registerForm.get('email')!.dirty ||
                    registerForm.get('email')!.touched)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('email')!.hasError('required')"
                >
                  E-mail obrigatório
                </small>
                <small
                  class="text-danger"
                  *ngIf="registerForm.get('email')!.hasError('email')"
                >
                  E-mail inválido
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          [disabled]="!registerForm.valid"
          (click)="salvarAlteracao(template)"
        >
          Salvar
        </button>
        &nbsp;
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Excluindo Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CANCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
              EXCLUIR
        		</button>
    		</div>
  		</div>
	</div>
</div>